@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #fff;
		--text: #000;
		--card: #eee;
	}

	:root[class~="dark"] {
		--background: #000;
		--text: #fff;
		--card: #313642;
	}
}

.postImage {
	max-width: 500px;
}

body {
	font-family: arial;
	margin: auto;
	overflow-y: scroll;
	font-size: 14px;
	line-height: 1.4;
	max-width: 1280px;
}

.navLink {
	color: #aaa;
	margin: 0px 10px;
	margin-top: 4px;
}

.navLink:hover {
	box-shadow: 0px 2px #aaa;
	text-decoration-line: none;
}

.active {
	box-shadow: 0px 2px black !important;
	color: black;
}

a {
	text-decoration-line: none;
}

a:hover {
	text-decoration-line: underline;
}

.loader {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
	padding-top: 40px;
}

.loader div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 80px;
	height: 80px;
	margin: 10px;
	border: 5px solid #ddd;
	border-radius: 50%;
	animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #ddd transparent transparent transparent;
}

.loader div:nth-child(1) {
	animation-delay: -0.45s;
}

.loader div:nth-child(2) {
	animation-delay: -0.3s;
}

.loader div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 600px) {
	.desktop {
		display: none;
	}
}